<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="https://hackernoon.com/favicon.png" />
  <link rel="canonical" href="https://hackernoon.com/database-scaling-horizontal-and-vertical-scaling-85edd2fd9944">
  <link rel="icon" type="image/png" href="favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Database Scaling : Horizontal and Vertical Scaling - By Nandhini Saravanan</title>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@hackernoon" />
  
  <meta property="og:url" content="https://hackernoon.com/database-scaling-horizontal-and-vertical-scaling-85edd2fd9944" />
  <meta property="og:title" content="Database Scaling : Horizontal and Vertical Scaling" />
  
  <meta property="og:image" content="https://hackernoon.com/hn-images/1*wcSfOzOd5C5wFchRH4MLfA.jpeg" />
  

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev"
        crossorigin="anonymous">
  <link href="/base.css" rel="stylesheet">
  <link href="story.css" rel="stylesheet">
  <link href="prism.css" rel="stylesheet">
  <link href="/subscribe-form.css" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
  <script src="/content.js"></script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WGQVQ44');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGQVQ44"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div id="root">
    <header id="header">
      <nav>
        <a href="https://hackernoon.com"><img src="/Devimg/logo-hn.png" height="40" class="logo"/></a>
        <div class="desktop-nav">
          <div class="spacer"></div>
          <div class="search-container" v-bind:class="{ active: searchFocus }">
            <input ref="search" class="search-input" v-model="search" @keyup.enter="submitSearch" @blur="searchFocus=false" />
            <i class="fas fa-search" @mousedown.stop.prevent="submitSearch"></i>
          </div>
          <a href="https://twitter.com/hackernoon" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.facebook.com/hackernoon" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.youtube.com/hackernoon" target="_blank"><i class="fab fa-youtube"></i></a>
          <a href="#subscribe-embed"><button class="outline">Subscribe</button></a>
          <span v-cloak v-if="user && userLoaded">
            <a :href="profileLink"><img :src="profileImage" class="profile" /></a>
          </span>
          <span v-cloak v-if="!user && userLoaded">
            <a :href="loginLink"><button class="outline">Get Started</button></a>
          </span>
        </div>
      </nav>
    </header>

    <div id="top">
      <button class="mobile-menu-toggle" :class="{ 'mobile-open': mobileMenuOpen }" @click="toggleMobileMenu"><i class="fas fa-bars"></i></button>
      <div class="subnav" :class="{ 'mobile-open': mobileMenuOpen }" @mouseleave="!mobileMenuOpen && closeNav()" v-cloak v-if="nav">
        <div class="mobile-back" :class="{ 'mobile-open': (mobileMenuOpen && activeNav !== '') }">
          <button @click="activeNav = ''"><i class="fas fa-arrow-left"></i></button>
        </div>
        <a v-for="category in nav" :href="category.href"
           :class="{ sponsor: category.sponsor }"
           @mouseover="navHover(category, $event)"
           @click="navClick(category, $event)">
          {{category.text}}
        </a>

        <div class="dropdown" v-bind:class="{ active: activeNav!=='' }" @mouseover="closeNavReset">
          <div class="category" v-for="category in nav" :key="category.name">
            <div class="section" v-for="(section, idx) in category.sections" :key="idx" :class="{ active: activeNav === category.name }">
              <div class="heading">
                <div class="line"></div>
                <a :href="section.heading.href">{{section.heading.text}}</a>
              </div>

              <ul class="links">
                <li v-for="(link, linkIdx) in section.links" :key="linkIdx">
                  <a :href="link.href">{{link.text}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="ads">
        <a v-cloak v-if="ad" class="sponsor" @click="recordAdClick" :href="ad.link" target="_blank">
          <img class="image" :src="ad.image" :alt="ad.companyName" />
          {{ad.text}}
        </a>
      </div>
    </div>

    <div class="story story-container">
      
      <div class="author">
        <div class="avatar" style="background-image: url('https://hackernoon.com/archive-avatars/nandhus05')"></div>
        <div class="name">
          <strong><a href="/@nandhus05">Nandhini Saravanan</a></strong>
          
          <p>@nandhus05</p>
          
          <div class="links">
            
            
            
            
          </div>
        </div>
      </div>
      

      <h1 class="title">Database Scaling : Horizontal and Vertical Scaling</h1>
      
      <div class="story-meta">
        <div class="date">January 24th 2019</div>
        <div class="share">
          
          
          
          
          <a class="twitter" target="_blank" rel="noopener noreferrer" href="https://twitter.com/intent/tweet?text=Database%20Scaling%C2%A0%3A%20Horizontal%20and%20Vertical%20Scaling&url=https%3A%2F%2Fhackernoon.com%2Fdatabase-scaling-horizontal-and-vertical-scaling-85edd2fd9944&hashtags=database,databasedevelopment,databasescaling"><i class="fab fa-twitter"></i> Tweet This</a>
        </div>
      </div>
      <div class="content" v-pre>
        <div class="section-inner sectionLayout--insetColumn"><h2>Scalability of Databases. What is the difference between horizontal and vertical scaling? Which is better and&#xA0;why?</h2></div><div class="section-inner sectionLayout--fullWidth"><figure><div class="aspectRatioPlaceholder is-locked"><div class="aspectRatioPlaceholder-fill"></div><img data-image-id="1*wcSfOzOd5C5wFchRH4MLfA.jpeg" data-width="4608" data-height="3072" src="https://hackernoon.com/hn-images/1*wcSfOzOd5C5wFchRH4MLfA.jpeg"></div><figcaption class="imageCaption">Photo by <a href="https://unsplash.com/photos/IKHvOlZFCOg?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target="_blank">Campaign Creators</a> on&#xA0;<a href="https://unsplash.com/search/photos/database?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target="_blank">Unsplash</a></figcaption></figure></div><div class="section-inner sectionLayout--insetColumn"><p><span>We</span> are <a href="https://hackernoon.com/tagged/generating" target="_blank">generating</a> data everyday. And so are the billions of people in the world. Every <a href="https://hackernoon.com/tagged/database" target="_blank">database</a> has to be scaled to address the huge amount of data being generated each day.</p><p>In short, a database needs to <strong>be scalable </strong>so that it is <strong>available </strong>at all times. When the memory of the database is drained, or when it cannot handle multiple requests, it is not scalable.</p><blockquote name="93d6" id="93d6" class="graf graf--pullquote graf-after--p">Scalability is the capability of a system, network, or process to handle a growing amount of work, or its potential to be enlarged to accommodate that&#xA0;growth.</blockquote><blockquote name="15ac" id="15ac" class="graf graf--pullquote graf-after--pullquote">&#x2014; <a href="https://en.wikipedia.org/wiki/Scalability" target="_blank">Wikipedia</a></blockquote><p>Scaling can be classified into<strong> Vertical and Horizontal Scaling.</strong></p><h3>Elasticity</h3><blockquote name="2341" id="2341" class="graf graf--pullquote graf-after--h3">Elasticity is the degree to which a system can adapt to workload changes by provisioning and de-provisioning resources in an on-demand manner, such&#xA0;that,</blockquote><blockquote name="198b" id="198b" class="graf graf--pullquote graf-after--pullquote">At each point in time the available resources match the current demand as closely as possible.&#x200A;&#x2014;&#x200A;NuoDB</blockquote><p>A system is elastic when it can be <strong>easily scaled to address the resource needs </strong>of the application under use.</p><h3>Types of&#xA0;scaling</h3></div><div class="section-inner sectionLayout--outsetColumn"><figure><div class="aspectRatioPlaceholder is-locked"><div class="aspectRatioPlaceholder-fill"></div><img data-image-id="0*zQDy30a97Fwa0C_q.png" data-width="1200" data-height="675" data-is-featured="true" data-action="zoom" data-action-value="0*zQDy30a97Fwa0C_q.png" src="https://hackernoon.com/hn-images/0*zQDy30a97Fwa0C_q.png"></div><figcaption class="imageCaption">Source&#xA0;: <a href="https://blog.turbonomic.com/blog/on-technology/the-essentials-of-database-scalability-vertical-horizontal" target="_blank">Turbonomic Blog</a></figcaption></figure></div><div class="section-inner sectionLayout--insetColumn"><p>Imagine that you are buying a brand new car. You got a Nissan car which can accommodate 4 people in it. Now, say you and 10 of your friends need to go for a vacation. What would you do?</p><blockquote name="a6c4" id="a6c4" class="graf graf--blockquote graf-after--p">Would you buy a bigger car?&#x200A;&#x2014;&#x200A;Vertical Scaling</blockquote><blockquote name="b745" id="b745" class="graf graf--blockquote graf-after--blockquote">Would you buy one more Nissan car&#xA0;?&#x200A;&#x2014;&#x200A;Horizontal Scaling</blockquote><p>This is a basic explanation of the two types. Let us learn where each of the type can be used and which is better.</p><h3>Vertical Scaling&#x200A;&#x2014;&#x200A;Scale&#xA0;Up</h3><figure><div class="aspectRatioPlaceholder is-locked"><div class="aspectRatioPlaceholder-fill"></div><img data-image-id="0*eJhhXAdzxNqNHv_V.jpg" data-width="249" data-height="353" src="https://hackernoon.com/hn-images/0*eJhhXAdzxNqNHv_V.jpg"></div><figcaption class="imageCaption">Source&#xA0;:<a href="https://subscription.packtpub.com/" target="_blank">&#xA0;Packt</a></figcaption></figure><p>Vertical Scaling was adopted when the database couldn&#x2019;t handle the large amount of data.</p><p>Suppose you have a database server with 10GB memory and it has exhausted. Now, to handle more data, you buy an expensive server with memory of 2TB. Your server can now handle large amounts of data.</p><p>This is called <strong>Vertical Scaling</strong>. It is buying a single expensive and bigger server.</p><p>The process involves adding more power such as CPU and disk power to enhance your storage process.</p><h4>Now, is this&#xA0;useful?</h4><ul><li>Depends on the application and its usage.</li></ul><p>Take for example, Instagram. When it was invented, it addressed a small crowd. So, a single server would have been enough. But now, millions of people use the application. It is impossible to buy such an server which can store all the data.</p><ul><li>Secondly, data is meant to be queried too. When a single node faces a lot of queries, it is difficult to handle.</li><li>For a large application involving loads of querying, Vertical Scaling is a definite no-no.</li><li>If your application involves a limited range of users and minimal querying, you can go ahead with this type of scaling.</li><li><strong>Relational databases</strong> mostly use vertical scaling.</li></ul><h4>Advantages</h4><ul><li><strong>Simple,</strong> since everything exists in a single server. No need to manage multiple instances.</li><li><strong>Performance Gain</strong>, because you have faster RAM and memory power on each update.</li><li>Same Code. <strong>No change</strong>&#x200A;&#x2014;&#x200A;You need not change your implementation or your code at all.</li></ul><h4>Disadvantages</h4><ul><li>Difficult to perform multiple queries simultaneously.</li><li>Chances of downtime are high, when the server exceeds maximum load.</li><li>Expensive. Hardware resources are costly, after all.</li></ul><h3>Horizontal Scaling&#x200A;&#x2014;&#x200A;Scale&#xA0;Out</h3><figure><div class="aspectRatioPlaceholder is-locked"><div class="aspectRatioPlaceholder-fill"></div><img data-image-id="0*Z4Ib_tXhm7hXlHNB.jpg" data-width="469" data-height="341" src="https://hackernoon.com/hn-images/0*Z4Ib_tXhm7hXlHNB.jpg"></div><figcaption class="imageCaption">Source&#xA0;:<a href="https://subscription.packtpub.com/" target="_blank">&#xA0;Packt</a></figcaption></figure><p>Horizontal Scaling, as the image depicts is scaling of the server horizontally by <strong>adding more machines.</strong></p><p>It divides the data set and distributes the data over multiple servers, or<strong><em> shards.</em></strong></p><p>Each shard is an independent database.</p><p>Instead of buying a single 2 TB server, you are buying two hundred 10 GB servers.</p><p>Vertical scaling focuses on increasing the power and memory, whereas horizontal scaling increases the number of machines.</p><h4>Same Question. How is it&#xA0;useful?</h4><ul><li>Remember the Instagram problem we discussed earlier? Let&#x2019;s find a solution for it. Suppose, instead of a single server, it purchases multiple machines of the same size and power.</li></ul><p>Assume one server stored user profile information, another stored stories and highlights and another stored images.</p><p>Now, the query is addressed to specific servers, which <strong>reduces the load on the server </strong>and gives <strong>better performance.</strong></p><p>Great, huh?</p><ul><li>If your application involves atomic transactions, it is better you use Vertical Scaling. If your application can allow redundancy and involves less joins, then you can use horizontal scaling.</li><li><strong>NoSQL</strong> databases mostly use horizontal scaling. It is less suitable for RDBMS as it relies on strict Consistency and Atomicity rules.</li></ul><h4>Advantages</h4><ul><li>It is <strong>cheap </strong>compared to vertical scaling.</li><li>Lesser Load, Better performance.</li><li>Chances of downtime are less.</li><li>Resilience and Fault Tolerance.</li></ul><h4>Disadvantages</h4><ul><li>Making joins is difficult, as it may involve cross-server communication.</li><li>Eventual consistency is only possible. It may not be best suited for bank transactions, which happens simultaneously.</li><li>We can&#x2019;t easily categorize each feature to each server. Sometimes, images may take up more space than a single server can handle.</li></ul></div><div class="section-inner sectionLayout--insetColumn"><h3>Why do people opt Horizontal Scaling?</h3><ol><li>To put it in simple words, horizontal scaling is <strong>elastic. </strong>Elasticity as told before is the ability to handle the workload changes.</li><li>Moreover, it is <strong>dynamic. </strong>You can keep your existing resources online, and add as many servers as you want. Since each of them is independent, it causes no harm.</li><li><strong>Big data</strong> is stored mostly in NoSQL databases, which follows horizontal sharding of databases.</li></ol><p>This is the reason NoSQL uses horizontal scaling, or sharding.</p><p>Since it follows the <strong>de-normalization</strong> concept, there is no necessity for a single point of truth. It can store <strong>duplicates.</strong></p><p>For example, if you want to fetch the frequent number of tags used, you can keep a separate table with user ID and the tag used.</p><p>NoSQL follows no concept of foreign key or normalization.</p></div><div class="section-inner sectionLayout--insetColumn"><h3>Replication to achieve HA( High Availability )</h3><p>Scaling is to increase our resources to handle data and queries. Replication is to store backups of up-to-date data to overcome failure of nodes.</p><h4>Replication in&#xA0;RDBMS</h4><ul><li>Replication in RDBMS is mostly<strong> Master Slave Replication</strong>, which involves multiple replicas having a single master.</li><li>The master performs and logs the writes and then passes the updated information to the slaves(replicas).</li><li>The slaves, can perform reads anytime. This is to reduce the load on the master replica.</li><li>When a master node goes down, any one of the replica becomes the master.</li></ul><p>The disadvantages to this approach is that, if the master goes down while performing a write, there are chances the<strong> information isn&#x2019;t updated</strong> on the slave replicas. So the last transaction might be lost.</p><h4>Replication in&#xA0;NoSQL</h4><p>Take Cassandra for example.</p><ul><li>Replication happens in Cassandra using <strong>virtual nodes</strong>, which randomly contain rows of data.</li><li>The categorization of a particular row to a node happens by hashing the primary key.</li><li>Each node in the cluster has a specified range. The resulting hash value of the row determines its node position.</li></ul><p>Consider this example of partition keys and their Murmur3 hash values.</p><figure><div class="aspectRatioPlaceholder is-locked"><div class="aspectRatioPlaceholder-fill"></div></div><figcaption class="imageCaption">Example data from <a href="https://docs.datastax.com/en/cassandra/3.0/cassandra/architecture/archDataDistributeHashing.html" target="_blank">DataStax documentation</a></figcaption></figure><figure><div class="aspectRatioPlaceholder is-locked"><div class="aspectRatioPlaceholder-fill"></div><img data-image-id="0*-f6WnajOMgZwWWMJ.png" data-width="764" data-height="489" data-action="zoom" data-action-value="0*-f6WnajOMgZwWWMJ.png" src="https://hackernoon.com/hn-images/0*-f6WnajOMgZwWWMJ.png"></div><figcaption class="imageCaption">Each data value is stored according to the range value of the node it falls in. Source&#xA0;: <a href="https://docs.datastax.com/en/cassandra/3.0/cassandra/architecture/archDataDistributeHashing.html" target="_blank">DataStax documentation</a></figcaption></figure><ul><li>There is no master node.</li><li>The read process happens by reading all the replicas, and returning the most up-to-date value. Then a <strong>read repair</strong> is performed for other values, in case if it is outdated.</li></ul></div><div class="section-inner sectionLayout--insetColumn"><h4>I write stories on Life Lessons, Coding and Technology. To read more, follow me on <a href="https://twitter.com/snandhini98" target="_blank">Twitter</a> and&#xA0;<a href="http://medium.com/@nandhus05" target="_blank">Medium.</a></h4><figure><div class="aspectRatioPlaceholder is-locked"><div class="aspectRatioPlaceholder-fill"></div></div></figure></div>
        
        <div class="archive-tags">
          
          
          
          <a class="tag" href="https://hackernoon.com/tagged/database">Database</a>
          
          
          
          <a class="tag" href="https://hackernoon.com/tagged/database-development">Database Development</a>
          
          
          
          <a class="tag" href="https://hackernoon.com/tagged/database-scaling">Database Scaling</a>
          
          
          
          <a class="tag" href="https://hackernoon.com/tagged/horizontal-scaling">Horizontal Scaling</a>
          
          
          
          <a class="tag" href="https://hackernoon.com/tagged/vertical-scaling">Vertical Scaling</a>
          
        </div>
        

        <div class="twitter-discussion">
          <a target="_blank" href="https://twitter.com/search?q=https%3A%2F%2Fhackernoon.com%2Fdatabase-scaling-horizontal-and-vertical-scaling-85edd2fd9944">Continue the discussion <i class="fab fa-twitter"></i></a>
        </div>
      </div>
      
    </div>


    <div class="more">
      
      <div class="divider-title">
        <div class="divider"></div>
        <h1 class="more-heading">More by Nandhini Saravanan</h1>
        <div class="divider"></div>
      </div>

      <div class="more-content">
        
        
        <div class="story-card">
          <a href="https://hackernoon.com/3-reasons-why-you-should-focus-on-the-font-rather-than-the-color-a37e1af7faaa">
            
            
            <div class="img" style="background-image: url('https://hackernoon.com/hn-images/1*C_oci0catb5JTI5w-B5u4w.jpeg')"></div>
          </a>
          <div class="excerpt">
            <div class="title">
              <a href="https://hackernoon.com/3-reasons-why-you-should-focus-on-the-font-rather-than-the-color-a37e1af7faaa">3 Reasons why you should focus on the Font rather than the color.</a>
            </div>
            <div class="bio">
              <div class="flex">
                <div class="avatar" style="background-image: url('https://hackernoon.com/archive-avatars/nandhus05')"></div>
                <div>
                  <a href="/@nandhus05" class="name">Nandhini Saravanan</a>
                  <div class="published">Feb 12</div>
                </div>
              </div>
            </div>
          </div>

          
          
          
          <a class="tag" href="https://hackernoon.com/tagged/web-development">Web Development</a>
          
        </div>
        
        
        
        
        
        <div class="story-spacer"></div>
      </div>
      

      <div id="subscribe-embed">
        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup">
          <img class="signup-image" src="https://ucarecdn.com/57662ddc-da7c-407b-afcb-cb45184b2705/" alt="" />
          <form action="https://hackernoon.us19.list-manage.com/subscribe/post?u=b48b0ec2173fecf2586c00e80&amp;id=fa796741e6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="subscribe-header">
              <h2>Hackernoon Newsletter curates great stories by real tech professionals</h2>
              <p>Get solid gold sent to your inbox. Every week!</p>
            </div>
            <div class="mc-field-group">
        </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address *">
            </div>
            <div class="fields-group">
              <div class="mc-field-group">
                <input type="text" value="" name="MMERGE1" class="" id="mce-MMERGE1" placeholder="First Name">
              </div>
              <div class="mc-field-group">
                <input type="text" value="" name="MMERGE2" class="" id="mce-MMERGE2" placeholder="Last Name">
              </div>
            </div>
            <div class="mc-field-group input-group topics-list">
              <strong>Topics of interest </strong>
              <ul><li class="checkbox"><input checked type="checkbox" value="1" name="group[3757][1]" id="mce-group[3757]-3757-0"><label for="mce-group[3757]-3757-0">Software Development</label></li>
                <li class="checkbox"><input checked type="checkbox" value="2" name="group[3757][2]" id="mce-group[3757]-3757-1"><label for="mce-group[3757]-3757-1">Blockchain Crypto</label></li>
                <li class="checkbox"><input checked type="checkbox" value="4" name="group[3757][4]" id="mce-group[3757]-3757-2"><label for="mce-group[3757]-3757-2">General Tech</label></li>
                <li class="checkbox"><input checked type="checkbox" value="8" name="group[3757][8]" id="mce-group[3757]-3757-3"><label for="mce-group[3757]-3757-3">Best of Hacker Noon</label></li>
              </ul>
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b48b0ec2173fecf2586c00e80_fa796741e6" tabindex="-1" value=""></div>
            <div class="submit-btn"><input type="submit" value="Get great stories by email" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </form>
        </div>
        <!--End mc_embed_signup-->
      </div>

      
      <div class="divider-title">
        <div class="divider"></div>
        <h1 class="more-heading">More Related Stories</h1>
        <div class="divider"></div>
      </div>

      <div class="more-content">
        
        <div class="story-card">
          <a href="https://hackernoon.com/1-year-of-event-sourcing-and-cqrs-fb9033ccd1c6">
            
            
            <div class="img" style="background-image: url('https://hackernoon.com/hn-images/1*eZQc6NdG3tCNTA8tSATAmg.jpeg')"></div>
          </a>
          <div class="excerpt">
            <div class="title">
              <a href="https://hackernoon.com/1-year-of-event-sourcing-and-cqrs-fb9033ccd1c6">1 Year of Event Sourcing and CQRS</a>
            </div>
            <div class="bio">
              <div class="flex">
                <div class="avatar" style="background-image: url('https://hackernoon.com/archive-avatars/teivah')"></div>
                <div>
                  <a href="/@teivah" class="name">Teiva Harsanyi</a>
                  <div class="published">Jun 11</div>
                </div>
              </div>
            </div>
          </div>
          
          
          
          <a class="tag" href="https://hackernoon.com/tagged/software-architecture">Software Architecture</a>
          
        </div>
        
        <div class="story-card">
          <a href="https://hackernoon.com/execution-plan-in-sql-server-4a8857e4542d">
            
            
            <div class="img" style="background-image: url('https://hackernoon.com/Devimg/story-image-default.png')"></div>
          </a>
          <div class="excerpt">
            <div class="title">
              <a href="https://hackernoon.com/execution-plan-in-sql-server-4a8857e4542d">Execution plan in SQL Server</a>
            </div>
            <div class="bio">
              <div class="flex">
                <div class="avatar" style="background-image: url('https://hackernoon.com/archive-avatars/xameeramir')"></div>
                <div>
                  <a href="/@xameeramir" class="name">Zameer Ansari</a>
                  <div class="published"></div>
                </div>
              </div>
            </div>
          </div>
          
          
          
          <a class="tag" href="https://hackernoon.com/tagged/sql">Sql</a>
          
        </div>
        
        
        <div class="story-spacer"></div>
      </div>
      
    </div>
  </div>

  <div class="subnav footer">
    <a href="https://www.hackernoon.com"><img class="footer__logo" src="/Devimg/hn-logo.png" width="45" height="45" /></a>
    <div>
      <div class="footer__links">
        <a href="http://help.hackernoon.com">Help</a>
        <a href="https://hackernoon.com/hacker-noon-faqs-with-six-word-answers-aw1ls3z1q">About</a>
        <a href="https://community.hackernoon.com/session/sso?return_path=https%3A%2F%2Fapp.hackernoon.com">Start Writing</a>
        <a class="footer__sponsor" href="http://sponsor.hackernoon.com">Sponsor:</a>
        <a class="footer__sponsor-type" href="https://sponsor.hackernoon.com/#brandasauthor">Brand-as-Author</a>
        <a class="footer__sponsor-type" href="https://sponsor.hackernoon.com/#billboard">Sitewide Billboard</a>
      </div>
      <div class="footer__privacy-links">
        <a href="mailto:support@hackernoon.com">Contact Us</a>
        <a href="http://privacy.hackernoon.com">Privacy</a>
        <a href="http://terms.hackernoon.com">Terms</a>
      </div>
    </div>
    <div>
      <a href="https://twitter.com/hackernoon" rel="noopener noreferrer" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.facebook.com/hackernoon" rel="noopener noreferrer" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.linkedin.com/company/hackernoon/" rel="noopener noreferrer" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.youtube.com/hackernoon" rel="noopener noreferrer" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
  </div>

  <script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-firestore.js"></script>
  <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCjRAcAgsxlffnuZNIr4zOGaIsEKKEaJCg",
    authDomain: "hackernoon-app.firebaseapp.com",
    databaseURL: "https://hackernoon-app.firebaseio.com",
    projectId: "hackernoon-app",
    storageBucket: "hackernoon-app.appspot.com",
    messagingSenderId: "521962009898"
  };
  firebase.initializeApp(config);
  </script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

  <script src="interact-archive.js"></script>
  <script src="prism.js"></script>
  <script>window.upsettings = {'api_key': '24b4421e-81ec-0b84b6a2'}</script><script>(function(){var w=window;var up=w.Upscribe;if(typeof up==="function"){up('reattach_activator');up('update',upsettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Upscribe=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://upscri.be/js/snippet.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if( w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-65623566-4"></script>
  <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'UA-65623566-4', { 'optimize_id': 'GTM-NR267TL'});
  </script>
  <script async src="/services.js"></script>
  <script src="/subscribeform.js"></script>
  <script async src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
</body>
</html>
